
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

 
  #product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    position: absolute;
  }


  .product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s ease;
    /* height: 500px; */
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  
  .product-card img {
    width: 100%;
    /* height: auto; */
  }

 
  .product-info {
    padding: 15px;
  }

  .product-info h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
  }

  .product-info p {
    margin: 5px 0;
    color: #555;
  }

  .product-info .price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
  }

  .product-info .rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ff9900;
  }

  .product-info .rating::before {
    content: '⭐';
    margin-right: 5px;
  }